/* it is totally okay for this to be completely empty right now, add what you need */
/* This is where the general web page styling goes, not the ArcGIS widgets, buttons, and what not. */
/* St;ye map to have some space surrounding edge to ensure that all buttons and widgets show up correctly*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Tahoma";
}

#header {
    background-color: #E8E8E8;
    height: 10%;
    margin: 0 0;
}

#mainWindow {
    width: 100%;
    height: 100%;
}

#title {
    padding-top: 2px;
    padding-left: 10px;
    font-size: 18pt;
    font-weight: 700;
}

#subtitle {
    font-size: small;
    padding-left: 40px;
}

#rightPane {
    position:absolute;
    background-color: #E8E8E8;
    margin: 0;
    width: 20%;
}

#map {
    height: 90%;
    width: 80%;
    margin: 0;
    padding: 0;
}

#scalebar{
   position: relative;
    bottom: 10px;
        
}

.esriScalebar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}