html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Verdana";
    background-color: whitesmoke;
}

#mainWindow {
    width: 100%;
    height: 100%;
}


#header {
    background: none;
    height: 7%;
    border: none;
    margin: 0 0;

}

#title {
    padding-top: 2px;
    padding-left: 1%;
    font-size: 1.25rem;
    font-weight: 700;
}

#subtitle {
    font-size: small;
    padding-left: 2%;
}

#logo{
    height: 95%;
    position: absolute;
    top: 2.5%;
    right: 7.5%;
    z-index: 99;
}

#map {
    /*height: 95%;
    width: 85%;*/
    background: none;
    margin: 2px;
    padding: 2px;
    border: none;
    border-radius: 5px;
}

#basemaps{
    position:absolute;
    left:20px;
    bottom:10px;
    z-Index:100;
}

#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

.HomeButton .home{
    background-color:lightgrey;
}

.HomeButton .home:hover{
    background-color: gray;
}

#rightPane {
    position:relative;
    width: 15%;
    background: none;
    border: none;
    margin: 0;
}

#scalebar{
    position: absolute;
    /*top: 5px;*/
}

#legend{
    padding-top: 2px;
}

#search {
    display: block;
    position: absolute;
    right: 17%;
    top: 3%;
    z-index: 200;
    /*padding: 0;*/
}

/*Beginning of search box modifications*/
.arcgisSearch .searchClear {
    background-color: #E5E5E5;
    border: 0px solid black;
}

.arcgisSearch .searchGroup .searchInput,
.arcgisSearch .searchBtn,
.arcgisSearch .noResultsMenu,
.arcgisSearch .suggestionsMenu {
    border: 1px solid black;
    background-color: #E5E5E5;
}
.arcgisSearch .noValueText{
    color:darkorange;
    font-size: 14px;
    font-weight: 600;
}
/*Beginning of popup modifications*/
.esriPopup .titlePane {
background-color: #003F87;
border-bottom: 1px solid #121310;
font-weight: bold;
}
.esriPopup a {
color: #003F87;
}
.esriPopup .contentPane,
.esriPopup .actionsPane,
.esriPopup .pointer,
.esriPopup .outerPointer {
background-color: whitesmoke;
}*/

 